<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705132018118-64pei0um8pf2hf6kflkcpefeob5am6n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705132018118-64pei0um8pf2hf6kflkcpefeob5am6n4</string>
	<key>API_KEY</key>
	<string>AIzaSyAO8QWaelPiJ2E-nqVJjlL-1JjuiQXTduE</string>
	<key>GCM_SENDER_ID</key>
	<string>705132018118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assesment</string>
	<key>PROJECT_ID</key>
	<string>assessment-86c9a</string>
	<key>STORAGE_BUCKET</key>
	<string>assessment-86c9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705132018118:ios:2ac5d9c3899f94a3db1ac7</string>
</dict>
</plist>